---
// author: Conner Ohnesorge (2023)
import BaseLayout from "../layouts/BaseLayout.astro";
import Leaflet from "../components/Leaflet.astro";
import Leaf from "../components/leaf.astro";
---

<BaseLayout
  title="Map | Roomba Dash"
  description="Track your Roomba's delivery progress in real time."
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Leaf />
    </main>
  </div>
</BaseLayout>
